<div class="card">
    <div class="card-body">
        <h1 class="text-center">
            Página não encontrada.
        </h1>
        <div class="text-center">
            <img src="img/error.png" alt="error_image" width="600px" height="450px"> 
        </div>
        <p>Contate o administrador.</p>
    </div>
</div>