<div>
    <h2>Categorias</h2>
</div>
{{#each categorias}}

<a href="categoria/{{slug}}" style="text-decoration-line: none">
    <div class="card mt-3">
        <div class="card-body">
            <h2>{{nome}}</h2>
        </div>
    </div>
</a>
{{else}}
<h2>Ainda não nenhuma categoria</h2>
<a href="admin/categorias/add"><button class="btn btn-success">Adicionar categoria</button></a>
{{/each}}