<div class="card mx-auto" style="width: 250px; height: 100%">
    <div class="card-body">
        <div class="text-center">
  <img src="https://www.logolynx.com/images/logolynx/03/039b004617d1ef43cf1769aae45d6ea2.png" width="100px" height="65px" class="rounded" alt="...">
</div>
        <div class="">
            <form action="#" method="post">
            <label for="nome">login</label>
            <input type="text" name="nome" id="nome" class="form-control" required autofocus>
            <label for="senha">senha</label>
            <input type="password" name="senha" id="senha" class="form-control" required>
            <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Entrar</button>
            </form>
        </div>
    </div>
</div>